

<%- include('../_layouts/adminheader') %>

<h3 class="page-title">Categories</h3>
<a href="/admin/Categories/add-category" class="btn btn-md btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr> 
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %>
            <tr>
                <td><%= cat.title %></td>
                <td><a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
                <td><a class="confirmDeletion" href="/admin/Categories/delete-category/<%= cat._id %>">Delete</a></td>   
            </tr>
        <% }); %>
    </tbody>
</table>


<%- include('../_layouts/adminfooter') %> 